.preview-container {
  margin-top: 4.5em;
  width: 100%;
  background-color: #8bc4ee;
  border-radius: 2.5em;
  box-shadow: 0.2rem 0.4rem 0.05rem #594cae, 
  0 0.9rem 2.5rem -1.4rem  #fff;
}

.folded:hover{
  background-color: #5e8dbf;
}

.preview-container h2 {
  margin: 1em;
  font-size: 1.7em;
}


.preview-container p {
  font-size: 1.2em;
}

.header{
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  z-index: 10;
}

