.preview-container {
  margin-top: 4.5em;
  width: 100%;
  background-color: #8bc4ee;
  border-radius: 2.5em;
  box-shadow: 0.2rem 0.4rem 0.05rem #594cae, 
  0 0.9rem 2.5rem -1.4rem  #fff;
}

.folded:hover{
  background-color: #5e8dbf;
}

.preview-container h2 {
  margin: 1em;
  font-size: 1.7em;
}

.preview-container div:not(:first-of-type) {
    margin: 0.7em;
    padding: 0.3em;
    background-color: #5e8dbf;
    border-radius: 2.5em;
}

.preview-container p {
  font-size: 1.2em;
}

.correct
{
    color: rgb(172, 230, 172);
}

.incorrect
{
    color: rgb(255, 193, 193);
}

.points
{ 
  text-align: right;
  font-size: 0.9em;
  margin: 0.75em 1.7em 0 0;
}

.header{
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
}

.question-header{
  margin:0 1.2em;
  font-size: 0.9em;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
}
.question-header h3:nth-child(2){
  font-size: 1.4em;
  text-align: center;
}
.question-header h3:nth-child(1){
  text-align: left;
}

.question-header h3:nth-child(3){
  text-align: right;
}