.answers-choice
{
    height: 20em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} 
.answers-choice button
{
    max-width: 15em;
    min-width: 10em;
    max-height: 5em;
    box-shadow: 0.2em 0.4em 0.05em #594cae, 
    0 0.9em 2em -1.2em  #fff;
}



.choice-button
{
    font-size: 2.5em;
    text-align: center;
    font-weight: 500;
    margin-bottom: 1em;
    border: 1px solid black;
    border-radius: 5.5em;
    background-color: aliceblue;
    padding: 1em;
}

.available
{
    cursor: pointer;
}

.incorrect
{
    cursor: not-allowed;
    background-color:#f04c6a;
}
.correct 
{
    cursor: not-allowed;
    background-color: #4cf051;
}

@media (width <=  20000px )
{
    .answers-choice button
    {
        width: 7em;
    }
    .choice-button
    {
        font-size: 1.7em;
    }
}


@media (width < 1000px)
{
    .answers-choice
    {
        flex-direction: column;
        height: 30em;
    }
    .choice-button
    {
        font-size: 1.5em;
    }
    
}