.error-msg
{
    width: 90%;
    font-size: 1.7rem;
    font-weight:700;
    color: #f04c6a;
    text-shadow: 0 0 0.7rem white;
    text-align: left;
}
.form-container
{
    margin: 0 auto;
    width: 60%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;
}
.input-container
{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.input-container input[type=text]
{
    width: 60%;
    height: 3.8vh;
    border: 1px solid #000;
    border-radius: 4rem;
    font-size: 3.5rem;
    padding: 1.8rem;
}

.correct{
    background-color: #4cf051;
}
.incorrect{
    background-color: #f04c6a;
}

@media (width < 1000px)
{
    .form-container
    {
        margin-top: 0;
        height: 40vh;
        width: 100%;
        margin-bottom: 0;
        padding: 0;
    }
    .input-container{
        flex-direction: column;
        justify-content:space-between;
        height: 20vh;
    }
}

@media (width < 500px) 
{
    .input-container input[type=text]
    {
        width: 60%;
        font-size: 2em;
        padding: 0.7em;
    }  
}