.main-side-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 55vh;
    margin: 6rem auto;
    padding: 3rem;
    color: white;
}
@font-face {
    font-family: "Best Kids";
    src: url('../../assets/Best Kids.otf');
}

.main-side-container h1
{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 4.7rem;
    font-weight: 580;
    padding: 0.1rem;
    font-family: "Best Kids", Arial, Helvetica, sans-serif;
}
.main-side-container h2
{
    margin-top: 0;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 580;
    padding: 0.1rem;
}
.main-side-container img
{
    width:7rem;
}
.main-side-container p
{
    font-size: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


@media (height < 1000px)
{
    .main-side-container
    {
        margin: 1rem auto;
    }
}